@use '../abstracts/variables' as vars;


.section__article--populares {
    grid-area: populares;
    padding: vars.$padding-principal;
             
}

.section__novedades-titulo {
    display: flex;
    align-items: center;
}

.section__article--populares-titulo h2 {
    font-size: 28px;
    font-weight: 700;
    padding: 10px 0;
}


.section__article-container {
    margin-bottom: 10px;
}

.section__article--populares-imagen {
    width: 298px;
    height: 200px;
    border-radius: vars.$border-radius-principal;
    object-fit: cover;
}

.section__populares-container--description p {
    font-size: 16px;
    font-weight: 400;
}

.section__populares-container--description h3 {
    font-size: 20px;
    font-weight: 700;
}

.section__article--populares-container {
    margin: 0 40px 10px 0;

}


.section__populares-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
}


.section__novedades--article-container--logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.section__novedades--article-container--logo .section__main-logo {
    width: 40px;
    height: 40px;
    margin: 0 5px 0 5px;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2); 
}

.section__populares-container--logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.section__populares-container--logo p {
    font-size: 16px;
    font-weight: 500;
}

